# Dependencies and IDEs
node_modules/
.vscode/

# Build Artifacts
out/
dist/
build/
*.tgz
*.tsbuildinfo

# Testing and Quality
coverage/
*.lcov
.eslintcache
.cache/
cache/

# Logs
logs/
_.log
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment Files
.env
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# Project Specific
ALL/